ripples/detect_ripples/CNN/train_FvsT/checkpoints/mouse_test\#01_epoch\#000.pth filter=lfs diff=lfs merge=lfs -text
ripples/detect_ripples/CNN/train_FvsT/checkpoints/mouse_test\#02_epoch\#000.pth filter=lfs diff=lfs merge=lfs -text
ripples/detect_ripples/CNN/train_FvsT/checkpoints/mouse_test\#03_epoch\#000.pth filter=lfs diff=lfs merge=lfs -text
ripples/detect_ripples/CNN/train_FvsT/checkpoints/mouse_test\#04_epoch\#000.pth filter=lfs diff=lfs merge=lfs -text
ripples/detect_ripples/CNN/train_FvsT/checkpoints/mouse_test\#05_epoch\#000.pth filter=lfs diff=lfs merge=lfs -text
